.App {
  text-align: center;
}
body{
  overflow-x: hidden;
}

.displayAnimated{
  
  transition: opacity ease-in;
  transition-duration: 1s;
  transition-delay: 0.25s;
}

@media (min-width:1250px){
  .swiper-button-next{
    
  }
}